<% provide(:title, @taxon.name) %>
<%= render 'shared/light_section' %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'shared/filter_by_category', taxonomies: @taxonomies %>
        <%= render 'shared/filter_by_price_range' %>
        <%= render 'shared/filter_by_color' %>
        <%= render 'shared/filter_by_size' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'shared/filter_area' %>
        <div class="row">
          <%= render partial: 'shared/product_box', collection: @products, as: "product" %>
        </div>
      </div>
    </div>
  </div>
</section>
